[submodule "elisp_local/cedet"]
	path = elisp_local/cedet
	url = git://github.com/emacs-pkg-mirrors/cedet.git
[submodule "elisp_local/magit"]
	path = elisp_local/magit
	url = http://git.gitorious.org/magit/mainline.git
[submodule "elisp_local/org_mode"]
	path = elisp_local/org_mode
	url = git://repo.or.cz/org-mode.git
[submodule "elisp_local/scel"]
	path = elisp_local/scel
	url = git://github.com/qdot/scel.git

