[submodule "elisp_local/scel"]
	path = elisp_local/scel
	url = git://github.com/qdot/scel.git
[submodule "elisp_local/wanderlust"]
	path = elisp_local/wanderlust
	url = git://github.com/wanderlust/wanderlust.git
[submodule "elisp_local/semi"]
	path = elisp_local/semi
	url = git://github.com/wanderlust/semi.git
[submodule "elisp_local/flim"]
	path = elisp_local/flim
	url = git://github.com/wanderlust/flim.git
[submodule "elisp_local/apel"]
	path = elisp_local/apel
	url = git://github.com/wanderlust/apel.git
[submodule "dev-packages/cedet"]
	path = dev-packages/cedet
	url = git://github.com/emacsmirror/cedet
[submodule "dev-packages/qblog"]
	path = dev-packages/qblog
	url = git://github.com/qdot/qblog
[submodule "dev-packages/smex"]
	path = dev-packages/smex
	url = http://github.com/abo-abo/smex
